.coursework-page-heading h1 {
    font-size: 3.3rem;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.courses-year-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.courses-semester-container {
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    width: 100%;
}

.courses-semester-heading h2 {
    font-weight: 400;
}

.course-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.course-heading h3 {
    font-weight: 400;
}

.course-content p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
}