* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    height: 100%;
    background-color: #040e1e;
}

h1 {
    all: initial;
}

h2 {
    all: initial;
}

h3 {
    all: initial;
}

h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 3.2rem;
}

h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
}

h3 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

a {
    color: white;
}

a:hover {
    color: #FF8B00;
}

hr {
    border: 1px solid rgb(84, 84, 84);
}

.header-container {
    text-align: left;
    margin-top: 0;
    width: 100%;
    display: block;
    height: 100%;
}

.header-spacer {
    clear: both;
}

.main-heading {
    text-align: left;
    margin-top: 0;
    margin-left: 1rem;
    width: fit-content;
    float: left;
    cursor: pointer;
}

.subtitle {
    color: white;
    text-align: left;
    width: 60%
}

.subtitle p {
    color: white;
    font-size: 1.4rem;
}

.icons-container {
    text-align: center;
    height: 100%;
    float: right;
}

.icons-flex {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: rgb(174, 174, 174);
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.icon:hover {
    color: purple;
    cursor: pointer;
}

#linkedin:hover {
    color: #0072b1;
}

#mail:hover {
    color: #FF0000;
}

.main-footer {
    color: white;
}

.links-container {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0;
    float: right;

}

.links-container a {
    margin: 10px;
    margin-top: 0;
}

.main-desc p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0;
}

.profile-container {
    display: block;
    text-align: center;
    margin-top: 60px;
    float: right;
    height: 100%;
    width: 30%;
}

.profile-container img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 5%;
}

.main-stuff {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    text-align: center;
}

.resume {
    width: 75%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 1rem;
}

.resume-header {
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
    .main-heading {
        width: 100%;
        text-align: center;
        clear: both;
    }

    .links-container {
        clear: both;
        text-align: center;
        width: 100%;
    }

    .icons-container {
        clear: both;
        text-align: center;
        width: 100%;
    }

    .subtitle {
        width: 100%;
        clear: both;
    }

    .profile-container {
        width: 100%;
        clear: both;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .profile-container img {
        max-width: 250px;
    }

    .resume {
        width: 95%;
    }

    .resume iframe {
        height: 700px;
    }
}

@media screen and (max-width: 600px) {
    .resume iframe {
        height: 500px;
    }
}