* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    height: 100%;
    background-color: #040e1e;
}

h1 {
    all: initial;
}

h2 {
    all: initial;
}

h3 {
    all: initial;
}

img {
    all: initial;
}

h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 4.3rem;
}

h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
}

h3 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

a {
    color: white;
}

a:hover {
    color: #FF8B00;
}

.main-heading {
    text-align: center;
    margin-top: 0;
}

.subtitle {
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.subtitle p {
    color: white;
    font-size: 1.4rem;
}

.icons-container {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.icons-flex {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: rgb(174, 174, 174);
    font-size: 1.2rem;
    margin-right: 40px;
    margin-left: 40px;
}

.icon:hover {
    color: white;
    cursor: pointer;
}

#linkedin:hover {
    color: #0072b1;
}

#reddit:hover {
    color: #FF5700;
}

#mail:hover {
    color: #FF0000;
}

#twitter:hover {
    color: #1DA1F2;
}

#spotify:hover {
    color: #1DB954;
}

#pinterest:hover {
    color: #E60023;
}

.main-footer {
    color: white;
}

.links-container {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0;

}

.links-container a {
    margin: 10px;
    margin-top: 0;
}

.main-desc p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0;
}

.profile-container {
    text-align: center;
    margin-top: 35px;
}

.profile-container img {
    clip-path: circle();
    width: 100%;
    max-width: 300px;
    height: auto;
}