* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    height: 100%;
    background-color: #040e1e;
}

h1 {
    all: initial;
}

h2 {
    all: initial;
}

h3 {
    all: initial;
}

img {
    all: initial;
}

h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 5rem;
    font-weight: 200;
}

h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
}

h3 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

a {
    color: white;
}

a:hover {
    color: #FF8B00;
}

.main-heading {
    text-align: center;
    padding-top: 25px;
}

.subtitle {
    color: white;
    text-align: center;
}

.subtitle p {
    color: white;
    font-size: 2rem;
}

.icons-container {
    width: 100%;
    text-align: center;
}

.icons-flex {
    margin: 0 auto;
    margin-top: 100px;
    padding: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: rgb(174, 174, 174);
    font-size: 2rem;
    padding-right: 15px;
}

.icon:hover {
    color: white;
    cursor: pointer;
}

#linkedin:hover {
    color: #0072b1;
}

#reddit:hover {
    color: #FF5700;
}

#youtube:hover {
    color: #FF0000;
}

#twitter:hover {
    color: #1DA1F2;
}

#spotify:hover {
    color: #1DB954;
}

#pinterest:hover {
    color: #E60023;
}

.main-footer {
    color: white;
}

.links-container {
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}