ul {
    font-weight: 200;
    margin-top: 0.5rem;
}

li {
    color: white;
    font-size: 1.1rem;
}

.project-title {
    text-align: center;
}

.project-title h2 {
    font-size: 2.5rem;
}

.project-subtitle {
    text-align: center;
}

.project-subtitle h3 {
    font-size: 1.5rem;
    font-style: italic;
}

.left {
    width: 40%;
    float: left;
    padding: 1rem;
    text-align: center;
}

.right {
    width: 60%;
    float: right;
    padding: 1rem;
}

.project-desc p {
    text-align: left;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 0;
}

.project-desc p b {
    font-weight: 600;
}

.project-links p {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.4rem;
}

.project-image {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.project-image img {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover !important;
    overflow: hidden;
    border-radius: 2%;
}

.one-project {
    margin-top: 1rem;
}

#project-blog:hover {
    color: rgb(96, 189, 255);
}

#project-video:hover {
    color: red;
}

#project-writeup:hover {
    color: white;
}

@media screen and (max-width: 1000px) {
    .left {
        width: 100%;
        text-align: center;
        clear: both;
        margin-left: 0;
    }

    .right {
        width: 100%;
        clear: both;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .project-image img {
        max-width: 400px;
    }
}